@import '../../../../variables';

.root {
    color: $white;
    background-color: rgba($black, 0.5) !important;
    backdrop-filter: blur(15px);
}

@supports not (backdrop-filter: blur(15px)) {
    .root {
        background-color: rgba($black, 0.75) !important;
    }
}
